body{
  font-size: 16px!important;
}
.theme-container.page-content-wrap {
  /* 特定页面的 CSS */
  .page>.content{
      max-width:900px;
      }
   div.language-js,div.language-html{
    display:none
  }      
}

.theme-container.page-content-wrap2 {
  /* 特定页面的 CSS */
  .page>.content{
      max-width:900px;
      }
  div.language-js,div.language-html{
    display:none
  }    
}
